/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  ========================================
  Custom styles
  ========================================
*/
.container {
  width: 1140px;
  background: yellow;
  overflow: hidden; }
  .container .col1 {
    width: 76.66px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  .container .col2 {
    width: 173.32px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  .container .col3 {
    width: 269.98px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
    .container .col3:hover {
      background: white; }
  .container .col4 {
    width: 366.64px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  .container .col5 {
    width: 463.3px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  .container .col6 {
    width: 559.96px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  .container .col7 {
    width: 656.62px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  .container .col8 {
    width: 753.28px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  .container .col9 {
    width: 849.94px;
    background: red;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  .container div:last-of-type {
    margin-right: 0; }

/*# sourceMappingURL=main.css.map */
