/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  custom style
  ========================================
*/


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*background: url("surf_and_paddle.png") no-repeat;*/
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  font-family: 'Open Sans', sans-serif;
  color:#5e686f;
  line-height: 25px;

}

header {
  width:100%;
  height: 523px;
  background: url(images/mainphoto.jpg); 
  background-attachment: fixed;
  background-size: cover; 
}

.headertop {
  width: 80%;
  vertical-align: bottom;
  margin:10px 40px 10px 140px;
  display:inline-block;
  vertical-align: middle;
  font-weight: bold;
  color:#083452;
  text-decoration:none;

}

.headertop a {
  font-weight: bold;
  color:#083452;
  text-decoration:none;
  position:relative;
  left:10px;
}

.headertop img, .headertop a, .headertop nav {
  vertical-align: middle;
}

.nav {
  padding-top: 20px;
  float:right;
  vertical-align: middle;
  position: relative;
  bottom:10px;
}

.nav li {
  display: inline-block;
  padding: 0 5px;
}

.main {
  margin-top: 180px;
}

header h1, h3, .popular {
  text-align: center;
}

header h1 {
  font-size: 105px;
  color:white;
  font-weight: 600;
  
}

header h3 {
  color:#083452;
  font-weight: bold;
  margin-top: 40px;
}

.middle {
  margin:80px 160px 120px 160px;
  min-height:800px;

}

.headline {
  float:left;
  width:600px;
  
}

.headline h2 {
  color:#083452;
  font-size: 47px;
  font-weight: 600;
  line-height: 60px;
}

.headline img {
  height:25px;
  width:25px;
}

.headline span {

}

.headline a, .headline a:visited {
  background-color:#a3b3bf;
  color:white;
  display:inline-block;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  height:27px;
  padding:-10px 2px 2px 2px;
}

.headline a img, .headline a:visited img {
  background-color:#5e686f;
}

.headline a:hover {
  background-color:#106db3;
  color:white;
  display:inline-block;
  text-align: center;
}

.headline a:hover img {
  background-color:#083452;
}

.headline p {
  padding-top: 30px;
}

aside {
  color: #a3b3bf;
}
.ads {
  float:right;
  width:280px;
  margin-left: 60px;

}

.ads ul {
  width:266px;
  margin:0 auto;
}

.ads li {
  display:inline-block;
  
  text-align: center;
  text-decoration: none;
  padding:10px 10px 50px 10px;
}

.ads a {
  color:#a3b3bf;
  text-decoration: none;
  font-size: 15px;
}

.ads span {
  float: right;
}

.ads h3 {
  padding-top: 10px;
  clear:both;
  color:#106db3;
}

.popular {
  clear:both;
  color: #083452;
  font-size: 75px;
  margin:200px 0 45px 0;
}

.popularpost {
  width:325px;
  height:330px;
  float:left;
}

footer {
  padding: 30px 160px;
  width:1300px;
  background: #083452;
  clear:both;
  color:#a3b3bf;
  font-size:15px;
}

.div1 {
  background: url(images/pop-post-1.jpg) no-repeat;
}

.div2 {
  background: url(images/pop-post-2.jpg) no-repeat;
}

.div3 {
  background: url(images/pop-post-3.jpg) no-repeat;
}

.div4 {
  background: url(images/pop-post-4.jpg) no-repeat;
}

.whoah {
  display:block;
  border-left: 2px solid #a3b3bf;
  font-size:30px;
  font-weight: 600;
  color: #106db3;
  padding:20px 20px;
}
/*
* {
   border: 1px solid red !important;
}*/

footer a {
  text-decoration: none;
  color:#a3b3bf;
}

.author2 {
  width:85px;
  margin:0 auto;
  display: block;

}

.author3 {
  color:#106db3;
  font-weight: bold;
}

h4 {
  text-align: left;
  clear:both;
  padding-top: 40px;
  color:#106db3;
  padding-bottom: 5px;
}

.link a, .link a:visited {
  background:white;
  color:#a3b3bf;

}
.link a:hover {
  background-color:white;
  color:#106db3;